<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3498db;">
  <div class="container">
    <a class="navbar-brand" href="#">ECommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category"  routerLinkActive="'active'">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product"  routerLinkActive="'active'">Product</a>
        </li>            
        <li class="nav-item">
          <a class="nav-link" routerLink="/post"  routerLinkActive="'active'">Post</a>
        </li>         
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>